<!doctype html>
<head>
  <title>knimea</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<header>  
<div class="navbar">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <i class="fas fa-mountain" style="padding-right: 10px"></i>
         <strong>knimea</strong>
      </a>
      <ul class="nav">
      {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">logout</a></li>
        <li class="nav-item"><a class="nav-link btn btn-success" href="{{url_for('new_workflow')}}">register knwf</a></li> 
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">login</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('register')}}">register</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</header>
  {% block body %}{% endblock %}
</body>
